<!doctype html>
<head>
<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
<title>Plagio</title>
 <h1>Welcome to Plagio</h1>
<script src="/js/jquery.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
<script>


$(document).ready(function() {
         
           $("#uploadform").submit(function(event) {
                      event.preventDefault();
                     var data = new FormData(this);
                     console.log(data);
                   $.ajax({
                       type        : "POST",
                       url         : "/",
                       data        : data,
                       contentType : false,
                       processData : false
                       }).done(function (data) {
                            console.log(data);
                       });
            });

           $("#addfiles").click(function(){
            var num = $("#fileuploads input").length;
            num =  parseInt(num)
            var html_string = $("#fileuploads").html()
            for (i = num+1 ; i <= num+2 ; i++) {
                n = i.toString();
                html_string+= "<br><input type='file' class='form-control' name='file"+n+"'>";
            }            
                $("#fileuploads").html(html_string);
           });

           // for populating initial data
           $.get( "/getfiles", function( data ) {
                 console.log(data);
                 var html_string ="";
                 if (data.length !=0){
                 for (filename in data){
                 html_string += "<option value='"+data[filename]+"'>"+data[filename]+"</option>"
                   }
                  $("#corpusfiles").html(html_string);
                  $("#patternfiles").html(html_string);
                 }
            });
           $("#plagcheck").click(function(){
                 var post_obj = {};
                 post_obj["pattern_files"] = $("#patternfiles").val();
                 corpus_files = $("#corpusfiles").val();
                 c_files = {}
                 for (file in corpus_files ){
                     c_files[file] = corpus_files[file];
                 }
                 post_obj['corpus_files'] = c_files;
                 post_obj["algorithm"] = $("#algorithm").val();
                 console.log(post_obj);
                 post_obj = JSON.stringify(post_obj);
                 console.log(post_obj);
                 $.ajax({
                     url: '/plagcheck',
                     type: 'post',
                     data: post_obj,
                     dataType: 'text',
                     success: function (data) {
                      console.log("success");
                     },
                });
           }); 
           
           $('ul.tabs li').click(function(){
		var tab_id = $(this).attr('data-tab');

		$('ul.tabs li').removeClass('current');
		$('.tab-content').removeClass('current');

		$(this).addClass('current');
		$("#"+tab_id).addClass('current');
	});

});

</script>
<style>
body{
			margin-top: 100px;
			font-family: 'Trebuchet MS', serif;
			line-height: 1.6
		}
		.container{
			width: 100%;
			margin: 0 auto;
		}



		ul.tabs{
			margin: 0px;
			padding: 0px;
			list-style: none;
		}
		ul.tabs li{
			background: none;
			color: #222;
			display: inline-block;
			padding: 10px 15px;
			cursor: pointer;
		}

		ul.tabs li.current{
			background: #ededed;
			color: #222;
		}

		.tab-content{
			display: none;
			background: #ededed;
			padding: 15px;
		}

		.tab-content.current{
			display: inherit;
		}

</style>
</head>
<body>
<h1>Welcome to Plagio</h1>
<button class="btn" id="addfiles"> Upload more files </button>

    <form method="post" id="uploadform">
            <label for="inputPassword">Upload</label>
            <div id="fileuploads">
            <input type="file" class="form-control" id="uploadfile" name="file1">
            </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-5">
					<h3>
						Select the file for Pattern
					</h3>
                                        <select class="form-control" id="patternfiles">
                                        </select>
				</div>
				<div class="col-md-2" >
					<h3>
						Select the Algorithm
					</h3>
                                        <select class="form-control" id="algorithm">
                                            <option value="nss">Naive String Search</option>
                                            <option value="lcss">LCSS</option>
                                            <option value="kmp">KMP</option>
                                            <option value="bm">Boyer Moore</option>
                                        </select>

				</div>
				<div class="col-md-5">
					<h3>
						Select the Corpus files
					</h3>
                                         <select multiple class="form-control" id="corpusfiles">
                                        </select>

				</div>
                                 <button class="btn btn-primary" id="plagcheck">Check for Plagirism</button> 
			</div>
		</div>
	</div>
</div>

<!-- Jquery tabs  -->


<div class="container">

	<ul class="tabs">
		<li class="tab-link current" data-tab="tab-1">Tab One</li>
		<li class="tab-link" data-tab="tab-2">Tab Two</li>
		<li class="tab-link" data-tab="tab-3">Tab Three</li>
		<li class="tab-link" data-tab="tab-4">Tab Four</li>
	</ul>

	<div id="tab-1" class="tab-content current">
        


	</div>
	<div id="tab-2" class="tab-content">
	</div>
	<div id="tab-3" class="tab-content">
	</div>
	<div id="tab-4" class="tab-content">
	</div>

</div>
<!-- container -->



<body>
</html>



